:root {
  --hue: 0;
  --sat: 100%;
  --lum: 50%;
  --alpha: 1;

  --color: hsla(var(--hue), var(--sat), var(--lum), var(--alpha));
  --blend-mode: normal;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-image: url('https://picsum.photos/3000/3000');
  background-size: cover;
  background-position: center center;
  background-blend-mode: var(--blend-mode);
  transition: .5s ease background-color;
}

main {
  width: 100vw;
  max-width: 900px;
  margin: auto;
  height: 100vh;

  display: grid;
  grid-template-columns: auto min-content;
  align-items: start;
}

aside {
  margin: 2vmin;
  padding: 1em;
  background-color: rgba(0,0,0,.8);
  color: white;
  border-radius: .5em;

  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  grid-gap: 1em;

  transition: .5s ease all;
}

aside:hover {
  opacity: 1;
}

input {
  width: 100%;
}

section {
  width: 90vmin;
  height: 90vmin;
  margin: 2vmin;
  padding: 0.5em;
  border-radius: 0.5em;

  background-color: var(--color);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;

  transition: .5s ease all;

}

section div {
  position: relative;
  background-color: var(--color);
  background-image: url('https://picsum.photos/3000/3000');
  background-size: cover;
  background-position: center center;
}
section div::before {
  content: '';

  background: rgba(255,255,255, .5);
  padding: .2em;
  width: 100%;

  text-align: center;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

div:nth-child(1) {
  background-blend-mode: normal;
}
div:nth-child(1)::before {
  content: 'normal';
}

div:nth-child(2) {
  background-blend-mode: multiply;
}
div:nth-child(2)::before {
  content: 'multiply';
} 

div:nth-child(3) {
  background-blend-mode: screen;
}
div:nth-child(3)::before {
  content: 'screen';
}    

div:nth-child(4) {
  background-blend-mode: overlay;
}
div:nth-child(4)::before {
  content: 'overlay';
}

div:nth-child(5) {
  background-blend-mode: darken;
}
div:nth-child(5)::before {
  content: 'darken';
}

div:nth-child(6) {
  background-blend-mode: lighten;
}
div:nth-child(6)::before {
  content: 'lighten';
}

div:nth-child(7) {
  background-blend-mode: color-dodge;
}
div:nth-child(7)::before {
  content: 'color-dodge';
}

div:nth-child(8) {
  background-blend-mode: color-burn;
}
div:nth-child(8)::before {
  content: 'color-burn';
}

div:nth-child(9) {
  background-blend-mode: hard-light;
}
div:nth-child(9)::before {
  content: 'hard-light';
}

div:nth-child(10) {
  background-blend-mode: soft-light;
}
div:nth-child(10)::before {
  content: 'soft-light';
}

div:nth-child(11) {
  background-blend-mode: difference;
}
div:nth-child(11)::before {
  content: 'difference';
}

div:nth-child(12) {
  background-blend-mode: exclusion;
}
div:nth-child(12)::before {
  content: 'exclusion';
}

div:nth-child(13) {
  background-blend-mode: hue;
}
div:nth-child(13)::before {
  content: 'hue';
}

div:nth-child(14) {
  background-blend-mode: saturation;
}
div:nth-child(14)::before {
  content: 'saturation';
}

div:nth-child(15) {
  background-blend-mode: color;
}
div:nth-child(15)::before {
  content: 'color';
}

div:nth-child(16) {
  background-blend-mode: luminosity;
}
div:nth-child(16)::before {
  content: 'luminosity';
}
